<!doctype html>
<html lang="en">
  <head>
    <title>Boolflix</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Personal Style -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <!-- App root -->
      <div id="root" class="">
        <!-- Searchbar -->
        <header class="d-flex justify-content-between align-items-center py-3">
          <div id="logo">BOOLFLIX</div>
          <div id="searchbar">
            <input type="text" name="search" id="search" v-model="ricerca" @keyup.enter="cerca">
            <button @click="cerca()">Cerca</button>
          </div>
        </header>
        <!-- /Searchbar -->


        <main>
            <!-- Movies -->
          <div class="movies" >
            <h2>Film</h2>
            <div v-if="movies === null">
                <h3>nessun titolo</h3>
            </div>
              <div class="d-flex flex-wrap">
                <div v-for="movie in movies" class="movie position-relative">
                  <div v-if="movie.poster_path == null" class="copertina_mancante">copertina mancante</div>
                  <div class="poster" v-else><img :src="`${posterUrl}${movie.poster_path}`" alt=""></div>
                  <div class="media_info">
                    <ul >
                      <li>Titolo:{{movie.title}}</li>
                      <li v-if="movie.original_title !== movie.title">Titolo originale:{{movie.original_title}}</li>
                      <!-- <li>{{movie.original_language}}</li> -->
                      <li v-if="movie.original_language === 'en'"><img width="40" src="https://www.countryflags.io/us/flat/64.png"></li>
                      <li v-else-if="movie.original_language === 'ja'"><img width="40" src="https://www.countryflags.io/jp/flat/64.png"></li>
                      <li v-else><img width="40" :src="`https://www.countryflags.io/${movie.original_language}/flat/64.png`"></li>
                      <li>Voto: {{movie.vote_average}}</li>
                      <li>Overview: {{movie.overview}}</li>   
                  </ul>
                  </div>                
                </div>
              </div>
              
          </div>
          <!-- /Movies -->

          <!-- Series -->
          <div class="series">
            <h2>Serie</h2>
            <div v-if="series === null || series.length === 0">
              <h3>nessun titolo</h3>
          </div>
            <div v-for="serie in series">
              <ul>
                <li v-if="serie.poster_path == 'null'" class="copertina_mancante">copertina mancante</li>
                <li v-else><img :src="`${posterUrl}${serie.poster_path}`" alt=""></li>
                <li>{{serie.name}}</li>
                <li v-if="serie.original_name !== serie.name">{{serie.original_name}}</li>
                <li>{{serie.original_language}}</li>
                <li v-if="serie.original_language === 'en'"><img width="40" src="https://www.countryflags.io/us/flat/64.png"></li>
                <li v-else-if="serie.original_language === 'ja'"><img width="40" src="https://www.countryflags.io/jp/flat/64.png"></li>
                <li v-else><img width="40" :src="`https://www.countryflags.io/${serie.original_language}/flat/64.png`"></li>
                <li>{{serie.vote_average}}</li>
              </ul>
            </div>
          </div>
          <!-- /Series -->
        </main>

      </div>
    <!-- /App root -->

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>